version: '3'

services:
  openwebui:
    image: ghcr.io/open-webui/open-webui:main
    container_name: openwebui
    ports:
      - "8999:8080"
    volumes:
      - ./data:/app/backend/data
      - /app/backend/data/cache # reuse image cache
    env_file: ./.env
    restart: always  # 确保容器崩溃时重新启动
